<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  <servlet>
  <servlet-name>proxoolInitialServlet</servlet-name>
  <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
  <init-param>
  <param-name>xmlFile</param-name>
  <param-value>WEB-INF/proxool.xml</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HallServlet</servlet-name>
    <servlet-class>servlet.HallServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowShouCangJiaServlet</servlet-name>
    <servlet-class>servlet.ShowShouCangJiaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddShouCangJiaServlet</servlet-name>
    <servlet-class>servlet.AddShouCangJiaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteShouCangJiaServlet</servlet-name>
    <servlet-class>servlet.DeleteShouCangJiaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateShouCangJiaServlet</servlet-name>
    <servlet-class>servlet.UpdateShouCangJiaServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/servlet/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/servlet/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HallServlet</servlet-name>
    <url-pattern>/servlet/HallServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowShouCangJiaServlet</servlet-name>
    <url-pattern>/servlet/ShowShouCangJiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddShouCangJiaServlet</servlet-name>
    <url-pattern>/servlet/AddShouCangJiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteShouCangJiaServlet</servlet-name>
    <url-pattern>/servlet/DeleteShouCangJiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateShouCangJiaServlet</servlet-name>
    <url-pattern>/servlet/UpdateShouCangJiaServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 配置过滤器 -->
  <filter>
  <filter-name>CFilter</filter-name>
  <filter-class>FirstFilter.CFilter</filter-class> 
  </filter>
  <filter-mapping>
  <filter-name>CFilter</filter-name>
  <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  
  <listener>
<listener-class>Listener.ApplicationListener</listener-class>
</listener>

<listener>
<listener-class>Listener.ApplicationAttributeListener</listener-class>
</listener>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>


